<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wall Street</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <h1>
        <a href="/">Wall Street</a>
      </h1>
      <%= yield %>
    </div>
  </body>
</html>
