<h2>Frequently Asked Questions</h2>

ul>li*3>lorem

<ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam possimus, consequatur similique itaque consectetur, omnis iure id doloremque aperiam facilis nihil nemo. Laudantium maiores, voluptate aspernatur ut impedit autem labore!</li>
  <li>In, doloremque, modi! Magnam error maiores repellendus vitae, iure, voluptatem blanditiis non consectetur aspernatur, suscipit, exercitationem nobis praesentium cumque. Ex enim expedita est illo, sunt explicabo, sapiente modi corporis voluptatem.</li>
  <li>Odit eaque magnam corporis ducimus laborum, fuga minima maxime incidunt error, iusto pariatur nam culpa, ipsum perferendis soluta voluptates blanditiis ad molestias. Esse earum cum dignissimos maiores est laudantium officia.</li>
</ul>
