body {
  background-color: yellow;
}

.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center; /* horizontal centering */
  line-height: 300px; /* sneaky vertical centering */
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Descendant selector */
.spooky span {
  color: black;
  visibility: hidden;
}

.spooky:hover {
  background-color: black;
}

.spooky:hover span {
  transition: 2s all;
  color: yellow;
  visibility: visible;
}
