<form action="/calc">
  <label>First number:</label>
  <input type="number" name="x" placeholder="7">

  <label>Operation</label>
  <input type="text" name="operator" placeholder="+">

  <label>Second number:</label>
  <input type="number" name="y" placeholder="12">

  <button>Calculate</button>
</form>
