<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crappy Calculator</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1>Crappy Calculator</h1>

    <%= yield %><!-- Your content here -->

  </body>
</html>
