<h2>New butterfly</h2>

<form method="post" action="/butterflies">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Butterfly name">
  <label>Family:</label>
  <input type="text" name="family" placeholder="Butterfly family">
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <label>Larval plant:</label>
  <select name="plant_id">
    <option></option>
    <% Plant.all.each do |plant| %>
      <option value="<%= plant.id %>"><%= plant.name %></option>
    <% end %>
  </select>

  <button>Create butterfly</button>
</form>
