<h2>New butterfly</h2>

<form method="post" action="/butterflies">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Butterfly name">
  <label>Family:</label>
  <input type="text" name="family" placeholder="Butterfly family">
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <button>Create butterfly</button>
</form>
