<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Butterflies</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/butterflies">All butterflies</a>
        <a href="/butterflies/new">New butterfly</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
