body {
  background-color: lightgreen;
  background-image: url(/img/money.jpg);
}

h1 {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: auto;
  background-color: rgba(100, 255, 100, 0.5);
  padding-bottom: 1em;
}
